* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(./assets/background.jpg);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    margin: 20px 0;
}

body {
    background-color: lightgray;
}

.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.landing-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #33658A;
}

.landing-container img {
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
}

.landing-container button {
    margin-bottom: 100px;
    max-width: 100%;
    max-height: 100%;
}

#poster-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* #poster-slider button {
    background-color: lightgray;
} */

#poster-slider h2 {
    color: #33658A;
}