* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(./assets/background.jpg);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    margin: 20px 0;
}

body {
    background-color: lightgray;
}

.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.landing-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #33658A;
}

.landing-container img {
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
}

.landing-container button {
    margin-bottom: 100px;
    max-width: 100%;
    max-height: 100%;
    border: transparent;
}

#poster-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#poster-slider button {
    max-width: 100%;
    max-height: 100%;
}

#poster-slider h2 {
    color: #33658A;
}

.show-more {
    background-color: #33658A;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
}

footer {
    background-color: #33658A;
    color: #9AC6C5;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media queries */

@media (min-width: 900px) {
    header {
        height: 250px;
    }
    #poster-slider {
        display: grid;
        grid-template-columns: repeat(6, calc(16.6% - 10px));
        gap: 10px;
        height: 700px
    }
    #poster-slider button {
        max-height: 100px;
    }
    .show-more {
        position: relative;
        top: 80px;
    }
}

@media (min-width: 1024px) {
    header {
        height: 300px;
    }
    .landing-container {
        margin-top: 5%;
        margin-bottom: 15%;
        margin-left: 10%;
        margin-right: 10%;
    }
    #poster-slider {
        grid-template-columns: repeat(6, calc(20% - 10px));
        height: 800px;
        margin-top: 0;
        height: auto;
    }
    .show-more {
        top: 300px;
    }
} 